{% extends "_bases/base.html.twig" %}
{% block title %}Liste des Postes{% endblock %}
{% block body %}
    <h1 class="text-center">Liste des Postes</h1>

    <div class="row justify-content-center">
        {% for poste in postes %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card mx-auto">
                    <img src="{{ asset('uploads/images/' ~ poste.image) }}" class="card-img-top" alt="Image" style="max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ poste.titre }}</h5>
                        <p class="card-text">Artiste: {{ poste.artiste }}</p>
                        <p class="card-text">{{ poste.description }}</p>
                        {% if poste.morceau %}
                            <audio controls style="width: 100%;">
                                <source src="{{ asset('uploads/audio/' ~ poste.morceau) }}" type="audio/mp3">
                                Your browser does not support the audio element.
                            </audio>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
